<div id="home" class="bg-dark min-vh-100">
  <div class="container">
    <div class="row w-75 position-absolute start-50 top-50 translate-middle">
      <div class="col-md-8 text-white">
        <h1>Elevate & Inspire: Your Hub for Tech, Articles, and Quotes</h1>
        <p class="text-light fs-6 my-4">
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quos ipsam inventore laborum! Architecto molestiae asperiores ullam officia itaque mollitia?, amet consectetur adipisicing elit. Ab ipsum, reiciendis id quae distinctio fuga.
        </p>
        <button routerLink="/signUp" class="btn btn-outline-info px-5 mt-3">
          Register now
        </button>
      </div>
      <div class="col-md-4"></div>

    </div>
  </div>
</div>
