<div class="bg-dark pb-5">
  <div class="container" style="padding-top: 100px">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between mb-5">
        <div class="input-group rounded w-50">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <svg
            class="fs-2 ps-2"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 512 512"
          >
            <path
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            />
          </svg>
        </div>
      </div>
      <div class="row gx-5 gy-3">
        <div *ngFor="let data of data;" class="col-md-4">
          <div *ngIf="data.type==='article'" class="px-4 py-4 bg-white">
            <h3>{{data.title}}</h3>
            <div class="row my-4">
              <div class="col-md-6">
                <div class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 448 512"
                  >
                    <style>
                      svg {
                        fill: #0dcaf0;
                      }
                    </style>
                    <path
                      d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"
                    />
                  </svg>
                  <p class="m-0 ps-2" style="font-size: 13px;"> {{data.createdAt | date}} </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                    />
                  </svg>
                  <a [routerLink]="'/user/'+data.createdBy._id">
                    <p class="m-0 ps-2" style="font-size: 13px;">{{data.createdBy.name}}</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="text-secondary my-3">
              {{data.description}}            </div>
            <div class="d-flex justify-content-between align-items-center">
              <a [routerLink]="'/blogs/' + data._id" class="btn text-info">
                Read more
                <svg
                  class="ps-1"
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                  />
                </svg>
              </a>
            </div>

          </div>
          <div *ngIf="data.type==='quote'" class="px-4 py-4 bg-white">
            <svg
              class="w-100 fs-1"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <path
                d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
              />
            </svg>
            <h3 class="text-center my-4">
              {{data.quote}}
            </h3>
            <a [routerLink]="'/user/'+data.createdBy._id">
              <p class="text-center text-secondary">{{data.createdBy.name}}</p>
            </a>
            <div class="d-flex align-items-center w-100 justify-content-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 448 512"
              >
                <path
                  d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                />
              </svg>
              <p class="m-0 ps-2">{{data.createdAt | date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


