<button
(click)="openMessages()"
[style]="isOpen?'bottom: 350px; right:0':'bottom:0;right:0'"
class="messagesBtn px-5 py-2 w-25 me-4 rounded-bottom-0 btn btn-info  text-white position-fixed">
<i *ngIf="isChatOpen" (click)="openChat($event)" class="fa-solid fa-arrow-left pointer mt-0 py-0 float-start"></i>
Messages</button>

  <div *ngIf="isOpen" class="messages bg-white p-3 pt-1 w-25 position-fixed bottom-0 end-0 me-4">
    <div *ngFor="let message of messages">
      <button (click)="openChat($event)" [class.d-none]="isChatOpen" class="btn w-100 text-start">
        <div *ngIf="!isChatOpen" class="border-bottom p-2">
          {{message.sender.name}}
        </div>
      </button>
        <div *ngIf="isChatOpen" class="h-100 row">
          <div class="bg-info px-3 py-1 m-2 w-auto rounded col-12">
            {{message.message}}
          </div>
          <form [formGroup]='messageForm' (ngSubmit)="sendMessage()"
          class="d-flex justify-content-between position-absolute bottom-0 my-2 col-12">
            <input formControlName="message" type="text" placeholder="type your message" class="form-control me-4">
            <button type="submit" class="btn btn-info">Send</button>
          </form>
        </div>
    </div>

  </div>
